.titleWrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    't'
    's'
    'p';

  align-items: baseline;

  @media (min-width: 993px) {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      't . s'
      'p p p';
  }
}

.title {
  grid-area: t;

  display: flex;
  gap: 20px;

  align-items: baseline;

  margin-bottom: 30px;

  @media (min-width: 993px) {
    margin-bottom: 0;
  }
}

.sort {
  grid-area: s;
}

.products {
  grid-area: p;

  margin-top: 20px;
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;

  align-items: baseline;
  justify-items: start;
  gap: 20px;
}

.seo {
  font-size: 18px;
  line-height: 29px;

  h1 {
    margin: 0;

    font-size: 26px;
    font-weight: 500;

    line-height: 35px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: 500;

    line-height: 30px;
  }

  h3 {
    margin: 0;

    font-size: 20px;
    font-weight: 600;

    line-height: 27px;
  }
}

.tagsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
