.button {
  display: inline-block;

  padding: 10px;

  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;

  border: none;
  border-radius: 5px;

  font-size: 14px;
}

.primary {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--primary);

  svg {
    fill: currentcolor;
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}

.ghost {
  color: var(--black);
  border: 1px solid var(--gray-light);
  background: var(--white);

  &:hover {
    color: var(--white);
    border-color: var(--white);
    background: var(--primary);

    svg {
      fill: currentcolor;
    }
  }
}

.arrow {
  display: inline-block;

  margin-left: 10px;

  transition: transform 0.2s ease;

  svg {
    transition: fill 0.2s ease;
  }
}

.down {
  transform: rotate(90deg);
}

.right {
  transform: rotate(0deg);
}
