.wrapper {
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'body'
    'footer';
  grid-gap: 40px 30px;

  min-height: 100vh;

  @media (min-width: 765px) {
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-areas:
      '. header header .'
      '. sidebar body .'
      'footer footer footer footer';
  }
}

.header {
  grid-area: header;

  @media (min-width: 765px) {
    display: none;
  }
}

.sidebar {
  display: none !important;
  grid-area: sidebar;

  @media (min-width: 765px) {
    display: grid !important;
  }
}

.body {
  grid-area: body;

  padding: 0 15px;

  @media (min-width: 765px) {
    padding: 0;
  }
}

.footer {
  grid-area: footer;
}
