.wrapper {
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'body'
    'footer';
  gap: 10px;

  min-height: 100vh;

  @media (min-width: 765px) {
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-areas:
      '. header header .'
      '. sidebar body .'
      'footer footer footer footer';
    gap: 40px 30px;
  }
}

.skipLink {
  position: fixed;
  top: 0;
  left: 100px;

  display: block;
  overflow: hidden;

  padding: 10px 12px;

  color: var(--white);

  background: var(--primary);

  &:not(:focus) {
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;

    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;

    border: 0 !important;
  }
}

.header {
  grid-area: header;

  @media (min-width: 765px) {
    display: none !important;
  }
}

.sidebar {
  display: none !important;
  grid-area: sidebar;

  @media (min-width: 765px) {
    display: grid !important;
  }
}

.body {
  grid-area: body;

  padding: 0 15px;

  outline: none;

  @media (min-width: 765px) {
    padding: 0;
  }
}

.footer {
  grid-area: footer;
}
