.ratingWrapper {
  position: relative;
}

.star {
  display: inline-block;

  svg {
    margin-right: 5px;
  }

  &:last-child svg {
    margin-right: 0;
  }
}

.filled svg {
  fill: var(--primary);
}

.editable {
  cursor: pointer;
}

.error svg {
  stroke: var(--red);
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;

  color: var(--red);
}
