.search {
  position: relative;

  width: 100%;
}

.input input {
  padding-right: 36px !important;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;

  width: 30px;
  height: 30px;
  padding: 7px;
}
