.productWrapper:not(:first-child) {
  margin-top: 50px;
}

.product {
  display: grid;
  grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];

  padding: 40px;
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / middle;
}

.price,
.priceTitle {
  grid-column: pricestart / priceend;

  white-space: nowrap;
}

.credit,
.creditTitle {
  grid-column: creditstart / creditend;

  white-space: nowrap;
}

.rating,
.rateTitle {
  grid-column: ratestart / end;

  white-space: nowrap;
}

.hr,
.hr2,
.description,
.actions {
  grid-column: start / end;
}

.features {
  grid-column: start / middle;
}

.advBlock {
  grid-column: middle / end;
}

.logo {
  overflow: hidden;
  align-self: center;

  width: 70px;
  height: 70px;

  border-radius: 5px;
}

.title {
  align-self: flex-end;

  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.tags {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;

  margin-top: 8px;
  gap: 5px;
}

.price,
.credit {
  align-self: flex-end;

  font-size: 20px;
  line-height: 27px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.month {
  font-size: 14px;
  line-height: 19px;
}

.rating {
  align-self: flex-end;
}

.priceTitle,
.creditTitle,
.rateTitle {
  align-self: flex-start;

  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.description {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 24px;
}

.advBlock {
  font-size: 16px;
  line-height: 22px;
}

.advantages {
  padding-left: 15px;

  border-left: 3px solid var(--green);
}

.disadvantages {
  margin-top: 20px;
  padding-left: 15px;

  border-left: 3px solid var(--red);
}

.advTitle {
  margin-bottom: 5px;

  font-weight: 700;
}

.actions {
  display: flex;
  gap: 20px;
}

.features {
  padding-right: 60px;
}

.characteristic {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;

  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.characteristicName {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.characteristicDots {
  border-bottom: 1px dashed #c4c4c4;
}

.characteristicValue {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.reviewsWrapper {
  overflow: hidden;

  margin-top: -7px;
}

.reviews {
  padding: 30px;
}

@media (max-width: 1320px) {
  .product {
    grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
    grid-template-areas:
      'logo . title title title title title'
      'logo . tags tags tags tags tags'
      'price price price . credit . rating'
      'priceTitle priceTitle priceTitle . creditTitle . rateTitle'
      'hr hr hr hr hr hr hr'
      'description description description description description description description'
      'features features features features features features features'
      'advBlock advBlock advBlock advBlock advBlock advBlock advBlock'
      'hr2 hr2 hr2 hr2 hr2 hr2 hr2'
      'actions actions actions actions actions actions actions';
  }

  .logo {
    grid-area: logo;

    margin-bottom: 20px;
  }

  .title {
    grid-area: title;
  }

  .tags {
    grid-area: tags;

    margin-bottom: 20px;
  }

  .price {
    grid-area: price;
  }

  .credit {
    grid-area: credit;
  }

  .rating {
    grid-area: rating;
  }

  .priceTitle {
    grid-area: priceTitle;
  }

  .creditTitle {
    grid-area: creditTitle;
  }

  .rateTitle {
    grid-area: rateTitle;
  }

  .hr {
    grid-area: hr;
  }

  .description {
    grid-area: description;
  }

  .features {
    margin-bottom: 20px;
    padding-right: 0;
    grid-area: features;
  }

  .advBlock {
    grid-area: advBlock;
  }

  .hr2 {
    grid-area: hr2;
  }

  .actions {
    grid-area: actions;
  }
}

@media (max-width: 992px) {
  .product {
    grid-template-columns: 70px 30px 1fr;
    grid-template-areas:
      'logo . title'
      'logo . tags'
      'priceTitle priceTitle price'
      'creditTitle creditTitle credit'
      'rateTitle rateTitle rating'
      'hr hr hr'
      'description description description'
      'features features features'
      'advBlock advBlock advBlock'
      'hr2 hr2 hr2'
      'actions actions actions';

    padding: 20px;
  }

  .price,
  .credit {
    margin-bottom: 10px;
  }

  .reviews {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'title'
      'tags'
      'price'
      'priceTitle'
      'credit'
      'creditTitle'
      'rating'
      'rateTitle'
      'hr'
      'description'
      'features'
      'advBlock'
      'hr2'
      'actions';
  }

  .price,
  .credit {
    margin-bottom: 0;
  }

  .priceTitle,
  .creditTitle {
    margin-bottom: 10px;
  }
}
