.firstLevel {
  display: grid;

  align-items: center;

  transition: color 0.2s ease;

  color: var(--gray-dark);

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  grid-template-columns: 24px 1fr;
  gap: 20px;

  svg {
    fill: currentcolor;

    transition: fill 0.2s ease;
  }
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);

  svg {
    fill: currentcolor;
  }
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;

  border-left: 1px solid #dfdfdf;
}

.secondLevel {
  margin-bottom: 10px;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--gray-dark);

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.secondLevelBlock {
  display: none;
}

.secondLevelBlockOpened {
  display: block;

  :last-child {
    margin-bottom: 20px;
  }
}

.thirdLevel {
  display: block;

  margin-bottom: 10px;

  cursor: pointer;
  transition: color 0.2s ease;

  color: var(--gray-dark);

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
