.menu {
  overflow: hidden;

  width: 100%;
}

.firstLevel {
  display: grid;

  align-items: center;

  transition: color 0.2s ease;

  color: var(--gray-dark);

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  grid-template-columns: 24px 1fr;
  gap: 20px;

  svg {
    fill: currentcolor;

    transition: fill 0.2s ease;
  }
}

.firstLevelLink {
  outline-offset: -1px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);

  svg {
    fill: currentcolor;
  }
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;

  border-left: 1px solid #dfdfdf;
}

.secondLevel {
  margin-bottom: 10px;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--gray-dark);

  outline-offset: -1px;

  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.secondLevelBlock {
  overflow: hidden;
}

.thirdLevel {
  display: block;
  overflow: hidden;

  margin-bottom: 10px;

  cursor: pointer;
  transition: color 0.2s ease;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--gray-dark);

  outline-offset: -1px;

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
