.sort {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;

  button {
    cursor: pointer;
    white-space: nowrap;

    border: none;
    background: none;

    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: 993px) {
    justify-items: end;

    margin-left: 20px;
  }
}

.active {
  color: var(--primary);

  font-weight: 700;
}

.sortIcon {
  display: none;

  .active & {
    display: inline-block;

    margin-right: 8px;
  }
}
